<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet"/>
  </head>
  <body>
    <div class="login-box">
      <h1>Login</h1>
      <form action="/signin" method="post">

        <input type="email" name="mail" placeholder="Email" />
        <br>
        <br>
        <input type="password" name="password" placeholder="Password" />
        <br><br><br>
        <input type="submit" value="Submit" />
      </form>
    </div>

  </body>
</html>
